/* Move down content because we have a fixed navbar that is 50px tall */
body {
  padding-top: 50px;
  /*padding-bottom: 20px;*/
  background: url("dark_wall.png");
}
input:focus {
    border: 4px solid purple;
}
#search {
  border-radius:20px;
  font-size:400%;
}
#mainContent {
  text-align:center;
  background-color:#888888;
  padding-bottom:10%;
  padding-top:15%;
  border-bottom-left-radius:50px;
  border-bottom-right-radius:50px; 
}
#initSearch {
  border-radius:20px;
  font-size:400%;
}
#localeSet {
  font-size:150%;
}
#boxLab {
  display:inline;
}
#container {
  width:1000px;
  overflow:hidden;
  margin: 50px auto;
  background: grey;
  border-radius:100px;
}
#mainTitle {
  display:inline;
}
#mainLogo {
  width:75px;
  display:inline;
}
#setLogo {
  width:37px;
  display:inline;
  margin-top:7.5px;
}
#logo {
  display:inline;
}
.photobanner {
  margin-top: 30px;
 height: 233px;
 width: 3550px;
 margin-bottom: 50px;
}
.first {
  width:350px;
 -webkit-animation: bannermove 15s linear infinite;
    -moz-animation: bannermove 15s linear infinite;
     -ms-animation: bannermove 15s linear infinite;
      -o-animation: bannermove 15s linear infinite;
         animation: bannermove 15s linear infinite;
}
@keyframes "bannermove" {
  0% {
    margin-left:0px;
  }
  100% {
    margin-left:2125px;
  }
}
@-moz-keyframes bannermove {
 0% {
   margin-left: 0px;
 }
 100% {
   margin-left: -2125px;
 }
 
}
 
@-webkit-keyframes "bannermove" {
 0% {
   margin-left: 0px;
 }
 100% {
   margin-left: -2125px;
 }
 
}
 
@-ms-keyframes "bannermove" {
 0% {
   margin-left: 0px;
 }
 100% {
   margin-left: -2125px;
 }
 
}
 
@-o-keyframes "bannermove" {
 0% {
   margin-left: 0px;
 }
 100% {
   margin-left: -2125px;
 }
 
}
.img {
  width:350px;
}
/*end of main Page*/
/*=========================================================================================================*/
#mainContent2 {
  text-align:center;
  font-size:130%;
  background-color:#888888;
  padding-bottom:20%;
  padding-top:15%;
  border-bottom-left-radius:50px;
  border-bottom-right-radius:50px;
  margin:auto;
}
#meMail:invalid {
  background-color:pink;
}
#meName:invalid {
  background-color:pink;
}
#mePass:invalid {
  background-color:pink;
}
#mePass2:invalid {
  background-color:pink;
}
.userSign {
  border-radius:100px;
  width:300px;
  transition:border-radius 0.5s;
  transition:width 0.5s;
  display:inline;
}
.signLab {
  display:block;
}
.userSign:focus {
  border-radius:0px;
  width:400px;
}
.userSign2 {
    display:block;
    margin:auto;
    margin-top:10px;
}
/*end of sign in*/
/*=========================================================================================================*/
#mainContent3 {
  text-align:center;
  font-size:130%;
  background-color:#888888;
  height:900px;
  width:100%;
  border-bottom-left-radius:50px;
  border-bottom-right-radius:50px;
  margin:auto;
  padding-bottom:2%;
  margin-top:15px;
}
#initSearchnav {
  border-radius:20px;
  font-size:20%;
}
#localeSetnav {
  font-size:10%;
  display:block;
}
#lwall {
  height:100%;
  width:100px;
  float:left;
  background-color:#222222;
  border-bottom-left-radius:50px;
}
#rwall {
  height:100%;
  width:100px;
  float:right;
  background-color:#222222;
  border-bottom-right-radius:50px;
}
.searchedImg {
  max-height: 125px;
  display:inline;
  float:left;
  border-radius:25px;
}
.searchedWord {
  display:inline;
}
.searchedDesc {
  display:block;
}
.searchedLoc {
  display:block;
}
.searchedItem {
  background:#444444;
  background:-webkit-linear-gradient(to bottom right, #444444, #999999);
  background:-moz-linear-gradient(to bottom right, #444444, #999999);
  background:-o-linear-gradient(to bottom right, #444444, #999999);
  background:linear-gradient(to bottom right, #444444, #999999);
  height:175px;
  border-left:inherit;
  border-right:inherit;
  border-radius:50px;
  border:2px #888888 solid;
  padding-top:50px;
  padding-bottom:50px;
  color:#000000;
 }
 .searchedWord:hover {
   color:#333333;
 }
 .searchedDesc:hover {
   color:#333333;
 }
 .searchedLoc:hover {
   color:#333333;
 }
/*end of results*/
/*=========================================================================================================*/
#mainContent4 {
  text-align:center;
  font-size:130%;
  background-color:#888888;
  padding-bottom:2%;
  height:800px;
  border-bottom-left-radius:50px;
  border-bottom-right-radius:50px;
  margin:auto;
}
.checker {
  border-radius:100px;
  width:50px;
  transition:border-radius 0.5s;
  transition:width 0.5s;
  display:inline;
}
.checker:hover {
  border-radius:0px;
  width:400px;
}
#meMail:invalid {
  background-color:pink;
}
#lwall2 {
  height:100%;
  width:100px;
  float:left;
  background-color:#222222;
  border-bottom-left-radius:50px;
}
#rwall2 {
  height:100%;
  width:100px;
  float:right;
  background-color:#222222;
  border-bottom-right-radius:50px;
}
